body {
    margin: 0px;
    background-color: rgb(44, 24, 47);
    overflow: hidden;
}
#hint {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: rgb(11, 223, 131);
    background: rgba(0,0,0,0.4);
    padding: 10px 15px;
    border-radius: 8px;
    z-index: 10;
}